<!-- <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="IN/Share" data-url="https://www.linkedin.com"></script> -->

<div class="header__container">
    
    <div class="header__socials">
        <a href="https://github.com/rayssabuarque/" target="_blank"><img src="assets/imgs/github.png" alt="Github logo"></a>
        <a href="https://www.linkedin.com/in/rayssabuarque/" target="_blank"><img src="assets/imgs/linkedin.png" alt="Linkedin logo"></a>
    </div>

    <div class="header__logo">
        <img src="assets/imgs/logo.png" alt="" srcset="">
    </div>

    <div class="header__share">
        <a href="https://www.linkedin.com/sharing/share-offsite/?url=your-url-here.com"target="_blank" title="Share on LinkedIn">
            Share
        </a>
    </div>
</div>
